$colors: (
  background: #0b032d,
  post-fill: #be508b,
  post-border: #f67e7d,
  accent: #fcb998,
  text: #8a607d,
  white: #fff,
  background-two: #2a1e61,
  choice: #211947,
);

$fonts: (
  header: "Alegreya Sans",
  questions: "Karantina",
  choices: "Anton",
);
