$colors: (
  background: #0b032d,
  post-fill: #843b62,
  post-border: #f67e7d,
  accent: #ffb997,
  text: #74546a,
  white: #fff,
);

$fonts: (
  header: "Alegreya Sans",
  questions: "Karantina",
);
