@import "_quiz.scss";
@import "_variables.scss";
@import "_btn.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

header {
  align-content: center;
  background-color: color(background-two);
}

body {
  align-content: center;
  background-color: color(background-two);
}

.header-text-box {
  margin: 0rem;
  align-content: center;
  background-color: color(background);
  padding: 10rem;
  border-color: color(post-fill);
  border-style: solid;
  border-bottom-width: 8rem;
  border-top-width: 0rem;
  border-right-width: 0rem;
  border-left-width: 0rem;
  border-style: double;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.header-primary {
  text-align: center;
  font-weight: 800;
  color: color(accent);
}
.header-primary-main {
  font-size: 11rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-shadow: color(text) 6px 6px;
  display: block;
}
.header-primary-sub {
  font-size: 3rem;
  letter-spacing: 0.75rem;
  color: color(post-border);
  text-transform: uppercase;
}

.start {
  font-size: 8rem;
  font-family: font(choice);
}

.container {
  font-size: 7rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-family: font(questions);
  display: flex;
  justify-content: center;
  background-color: color(background-two);
  color: color(accent);
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
}

.choice {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  margin: 2rem;
  background-color: color(post-border);
  color: color(choice);
  border-radius: 3rem;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  border-width: 0.5rem;
  border-color: color(post-fill);
  font-family: font(choices);
}

.body {
  background-color: color(background-two);
}
